@using PagedList;
@using PagedList.Mvc;

@model IPagedList<ProgramBuilder.DA.Faculty>

@{
    ViewBag.Title = "Danh sách khoa";
    ViewBag.Header = "Danh sách khoa";
}


<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-lg-10">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th><span><strong> Tên khoa</strong></span></th>
                                    <th><span><strong>Năm đào tạo</strong></span></th>
                                    <th class="text-center"><span><strong>Số lượng môn học</strong></span></th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    for (int i = 0; i < Model.Count; i++)
                                    {
                                        <tr>
                                            <td>@(Model[i].VietNameseName + " (" + Model[i].EnglishName + ")")</td>
                                            <td class="text-center">@(Model[i].TrainingTime + " năm")</td>
                                            <td class="text-center">@Model[i].Subjects.Count</td>
                                            <td style="width: 120px;">

                                               
                                                 <a href="/Faculty/FacultyDetail/@Model[i].ID" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-eye-open"></span> Xem</a>
                                                @if ((User as ProgramBuilder.WEB.Principal.AuthorizePrincipal).IsInRole("Editor"))
                                                {
                                                   <a href="/Faculty/EditFaculty/@Model[i].ID" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-edit"></span> Sửa</a>
                                                }
                                                
                                            </td>
                                        </tr>
                                    }
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.PagedListPager(Model, page => Url.Action("FaculitiesList", new { page }))
</div>

